/*! destyle.css v1.0.15 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model */
/* ============================================ */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* Document */
/* ============================================ */
/**
   * 1. Correct the line height in all browsers.
   * 2. Prevent adjustments of font size after orientation changes in iOS.
   * 3. Remove gray overlay on links for iOS.
   */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border: 0;
  border-top: 1px solid;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
  vertical-align: bottom;
}

embed,
object,
iframe {
  border: 0;
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
   * Reset form fields to make them styleable
   */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
   * Reset radio and checkbox appearance to preserve their look in iOS.
   */
[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Remove arrow in IE10 & IE11
   */
select::-ms-expand {
  display: none;
}

/**
   * Remove padding
   */
option {
  padding: 0;
}

/**
   * Reset to invisible
   */
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 0;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the outline style in Safari.
   */
[type="search"] {
  outline-offset: -2px;
  /* 1 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
   * Clickable labels
   */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/*
   * Remove outline for editable content.
   */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

body {
  margin: 0;
}

@-webkit-keyframes updown {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  100% {
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
  }
}

@keyframes updown {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  100% {
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
  }
}

.l-footer {
  height: 250px;
}

.l-mainvisual {
  background-image: url(../img/background/mainvisual.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
}

.l-flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.l-flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.l-flex-column-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-flex-column-center-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-flex-column-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.l-flex-row-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.l-flex-row-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.l-flex-row-center-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-flex-row-space {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.l-flex-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 599px) {
  .l-flex-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.l-flex-about-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 599px) {
  .l-flex-about-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.l-flex-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 599px) {
  .l-flex-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.l-flex-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 599px) {
  .l-flex-blog {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.l-flex-access {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 599px) {
  .l-flex-access {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
  }
}

.c-cross-btn {
  position: relative;
  width: 25px;
  height: 25px;
  margin-left: auto;
  margin-right: 15px;
  cursor: pointer;
}

.c-cross-45, .c-cross-315 {
  position: absolute;
  left: 50%;
  width: 3px;
  height: 25px;
}

.c-cross-45 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.c-cross-315 {
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
}

.c-search-btn {
  position: fixed;
  top: 15px;
  left: 30px;
  z-index: +2;
  color: white;
  cursor: pointer;
}

.c-search-btn-img {
  width: 30px;
  height: auto;
}

.c-genre-choice-btn {
  width: 166px;
  height: 47px;
  border-radius: 5px;
  color: #FFFFFF;
  border: solid 1px #FFFFFF;
  cursor: pointer;
}

.c-genre-choice-btn.exe {
  color: #000000;
  background-color: #FFFFFF;
}

.c-search-exe-btn {
  position: fixed;
  top: calc(400 * 1px - 100vh);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.exe .c-search-exe-btn {
  top: 400px;
}

.c-search-exe-btn-img {
  width: 50px;
  height: auto;
}

.c-search-title {
  margin-top: 20px;
}

.c-row.not-top {
  padding-top: 5px;
}

.c-row.right {
  padding-left: 8px;
}

.c-writer {
  display: inline-block;
  margin-left: 5px;
  padding-left: 4px;
  padding-right: 4px;
  cursor: pointer;
  color: #FFFFFF;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.c-writer:first-of-type {
  margin-left: 0px;
}

.c-writer.search {
  color: #000000;
  background-color: #FFFFFF;
  border-radius: 30px;
}

.c-title {
  margin-top: 41.52824vh;
  text-align: center;
}

.c-tanka {
  font-size: 16px;
  font-weight: bold;
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: +1;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  height: 100vh;
  padding-top: 10%;
}

.none {
  z-index: -1;
  display: none;
}

.c-sentence {
  display: block;
}

.c-first-sentence {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.c-second-sentence {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.c-third-sentence {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.c-forth-sentence {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.c-fifth-sentence {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.c-meta-info-marker {
  position: relative;
}

.c-meta-info {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  position: absolute;
  left: -50px;
  bottom: 20px;
}

@media (max-width: 1140px) {
  .c-meta-info {
    left: -50px;
  }
}

.c-input {
  width: 339px;
  height: 31px;
  padding-left: 7px;
  display: inline-block;
}

.c-search-icon {
  width: 18px;
  height: auto;
  display: inline-block;
}

.c-tanka-img {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

.c-seat {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.c-down-arrow {
  position: relative;
  left: 50%;
  top: 34.60687vh;
  display: inline-block;
}

.c-down-arrow.animation {
  -webkit-animation-name: updown;
          animation-name: updown;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.c-down-arrow-45, .c-down-arrow-315 {
  position: absolute;
  width: 3px;
  height: 20px;
  top: 26px;
}

.c-down-arrow-45 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 6px;
}

.c-down-arrow-315 {
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
  left: -6px;
}

.c-down-arrow-straight {
  width: 3px;
  height: 40px;
}

.c-side-arrow {
  position: fixed;
  display: inline-block;
  top: 30px;
  right: 20px;
  cursor: pointer;
}

.c-side-arrow-45, .c-side-arrow-315 {
  width: 2px;
  height: 15px;
}

.c-side-arrow-45 {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotate(45deg) translate(-7px, -12px);
          transform: rotate(45deg) translate(-7px, -12px);
}

.exe .c-side-arrow-45 {
  -webkit-transform: rotate(315deg) translate(26px, 8px);
          transform: rotate(315deg) translate(26px, 8px);
}

.c-side-arrow-315 {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotate(315deg) translate(15px, -11px);
          transform: rotate(315deg) translate(15px, -11px);
}

.exe .c-side-arrow-315 {
  -webkit-transform: rotate(45deg) translate(4px, -29px);
          transform: rotate(45deg) translate(4px, -29px);
}

.c-side-arrow-straight {
  width: 30px;
  height: 2px;
}

.p-search-screen {
  position: fixed;
  top: -100%;
  width: 100%;
  height: 100%;
  z-index: +3;
  padding-top: 18px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 44px;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.p-search-screen.exe {
  top: 0;
  opacity: 1;
}

@media (max-width: 599px) {
  .p-search-screen {
    padding-left: 4.8%;
    padding-right: 4.8%;
  }
}

.p-search-series {
  margin-top: 35px;
  display: none;
}

.p-search-series.exe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-writer-series {
  margin-top: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.p-tanka-display-stage {
  width: 25%;
}

.p-img-display-stage {
  width: 25%;
}

.p-top-display-area {
  height: 500px;
}

.p-top-fadeout-area {
  height: 500px;
}

.p-tanka-no-display-area-1 {
  height: 750px;
}

.p-tanka-fadein-area {
  height: 1000px;
}

.p-tanka-display-area {
  height: 1000px;
}

.p-tanka-fadeout-area {
  height: 500px;
}

.p-tanka-no-display-area-2 {
  height: 500px;
}

.p-img-no-display-area {
  height: 250px;
}

.next .p-img-no-display-area {
  height: 0px;
}

.p-img-fadein-area {
  height: 500px;
}

.next .p-img-fadein-area {
  height: 1000px;
}

.p-img-display-area {
  height: 2500px;
}

.next .p-img-display-area {
  height: 2250px;
}

.p-img-fadeout-area {
  height: 500px;
}

.p-search-word-area {
  position: fixed;
  top: 20px;
  right: 10px;
  z-index: +2;
}

.p-table {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: fixed;
  left: 100%;
  top: 60px;
}

.exe .p-table {
  -webkit-transform: translateX(calc(-100% - 10px));
          transform: translateX(calc(-100% - 10px));
}

.p-genre-btn-series {
  width: 396px;
  margin-top: 45px;
}

@media (max-width: 599px) {
  .p-genre-btn-series {
    width: 339px;
  }
}

.u-margin-tanka:not(:nth-child(2)) {
  margin-left: 70px;
}

@media (max-width: 599px) {
  .u-margin-tanka:not(:nth-child(2)) {
    margin-left: 11.68614vw;
  }
}

.u-yu-36-regular-text {
  font-family: YuMincho, 'Yu Mincho', serif;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.61111;
}

.u-yu-16-regular-text {
  font-family: YuMincho, 'Yu Mincho', serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.625;
}

.u-yu-24-regular-text {
  font-family: YuMincho, 'Yu Mincho', serif;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.625;
}

.u-yu-26-regular-text {
  font-family: YuMincho, 'Yu Mincho', serif;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.61538;
}

.u-kinuta-22-regular-text {
  font-family: kinuta-mincho-stdn,sans-serif;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.45em;
  line-height: 0;
}

.u-search-word-area-text {
  font-family: YuMincho, 'Yu Mincho', serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.625;
}

@media (max-width: 599px) {
  .u-search-word-area-text {
    font-family: YuMincho, 'Yu Mincho', serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 2.16667;
  }
}

.u-color-white {
  color: #FFFFFF;
}

.u-color-copy {
  color: #FFFFFF;
}

.u-color-copy.open {
  color: #000000;
}

.u-color-menu {
  color: #FFFFFF;
}

@media (max-width: 599px) {
  .u-color-menu {
    color: #000000;
  }
}

.u-color-black {
  color: #000000;
}

.u-b-color-white {
  background-color: #FFFFFF;
}

.u-b-color-about {
  background-color: #F2F2F2;
}

@media (max-width: 599px) {
  .u-b-color-about {
    background-color: #FFFFFF;
  }
}

.u-b-color-black {
  background-color: #0A0A0A;
}

.u-b-color-dark-brown {
  background-color: #6F6565;
}

.u-b-color-search-screen {
  background-color: rgba(136, 104, 0, 0.8);
}
/*# sourceMappingURL=style.css.map */