.c-search-title {
	margin-top: 20px;
}

.c-row {
	&.not-top {
		padding-top: 5px;
	}
	&.right {
		padding-left: 8px;
	}
}

.c-writer {
	display: inline-block;
	margin-left: 5px;
	padding-left: 4px;
	padding-right: 4px;
	cursor: pointer;
	color: $palette-white;
	transition: all $writer-transition-speed;
	&:first-of-type {
		margin-left: 0px;
	}
	&.search {
		color: $palette-black;
		background-color: $palette-white;
		border-radius: 30px;
	}
}

.c-title {
	margin-top: 300 / 722.4 * 100vh;
	text-align: center;
}

// 文字の設定
.c-tanka {
	font-size: 16px;
	font-weight: bold;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	z-index: +1;
	writing-mode: vertical-rl;
	height: 100vh;
	padding-top: 10%;
}
.none {
	z-index: -1;
	display: none;
}

.c-sentence {
	display: block;
}

.c-first-sentence {
	transform: rotate(0deg);
}

.c-second-sentence {
	transform: rotate(0deg);
}

.c-third-sentence {
	transform: rotate(0deg);
}

.c-forth-sentence {
	transform: rotate(0deg);
}

.c-fifth-sentence {
	transform: rotate(0deg);
}

.c-meta-info-marker {
	position: relative;
}

.c-meta-info {
	writing-mode: vertical-rl;
	position: absolute;
	left: -50px;
	bottom: 20px;
	@include tab {
		left: -50px;
	}
}