.p-search-word-area {
    position: fixed;
	top: 20px;
	right: 10px;
	z-index: +2;
}

.p-genre-btn-series {
    width: 396px;
    margin-top: 45px;
    @include sp {
        width: 339px;
    }
}

.having-img {
    background-color: red;
    height: 100px;
}